@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, rgb(0,255,255), rgb(0,255,0));
  font-family: 'Roboto', sans-serif;
}
#main-container {
display: flex;
flex-direction: column;
align-items: center;
background-color: darkslategray;
padding: 40px;
border-radius: 20px;
width: 50%;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
color: white; /* for text color */
}

#changeTimeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: darkslategray; /* same as your main-container background */
    color: white; /* text color */
    border: none;
    cursor: pointer;
  }
  
  .change-time-button {
    background-color: #1f1f1f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


#clock, #clock24, #date, #targetTimeIndicator{
  font-family: 'Roboto', sans-serif;
  color: #00ffaa;
}
#clock, #clock24 {
  font-size: 48px;
}
#date {
  font-size: 24px;
}
#progress-container {
  width: 100%;
  background-color: grey;
  border-radius: 15px;
  overflow: hidden;
}
#progress-bar {
  width: 0%;
  height: 30px;
  background-color: #d5d114;
  text-align: center;
  line-height: 30px;
  color: rgb(0, 0, 0);
  border-radius: 15px 0 0 15px;
  font-weight: bold;
}
#credits {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px; /* adjust padding as needed */
    background-color: #333; /* dark gray background */
    color: #fff; /* white text */
    text-align: center;
    border-radius: 12px 12px 0 0; /* rounded corners on top */
  }
  
  
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  
  .modal-content {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .modal-content label,
  .modal-content input,
  .modal-content button {
    margin: 5px;
  }
  
  
  .centered-or {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    position: relative;
  }
  
  .centered-or:before,
  .centered-or:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    border-bottom: 1px solid #888;
  }
  
  .centered-or:before {
    left: 0;
  }
  
  .centered-or:after {
    right: 0;
  }
  
  
  .modal-content label {
    width: 50px;
  }
  
  .modal-content input {
    width: 50px;
  }

  .time-left-text {
    right: 0;
    top: 0;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: black;
    padding-right: 10px;
    color: #00ffaa;
  }
